<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"/>
</head>
<body>

<div class="container" style="background-color: #fdfcff">
    <div class="clearfix" >
        <div class="col-md-4 column">
        </div>
        <div align="right" class="col-md-6 column">
            <form class="navbar-form navbar-left" role="search" th:action="@{/searchCounty}" method="post">
                <div class="form-group">
                    <input type="text" name = "fips" class="form-control" style="background-color:#edebf0"/>
                </div>
                <button type="submit" class="btn btn-default"  >Search</button>
            </form>
            <h6>Source: <span  class="badge badge-light"  th:text="covidactnow.org"></span>
            </h6>
        </div>
        <div class="col-md-4 column">
        </div>
    </div>
    <div style="background-color: #ffffff">
        <div class="clearfix">
            <h1 class="display-1">
                <span th:text="${countyName}"></span>,  <span th:text="${stateName}"></span>
            </h1>
            <h6 align="left">Updated on: <span  class="badge badge-light"  th:text="${lastUpdatedDate}"></span>
            </h6>
        </div>
        <div class="container-lg clearfix" style="background-color: #ffffff">
            <h5></h5>
            <h5>Over the last week, averaged <span class="badge badge-pill badge-info" th:text="${newConfirmedCasesPerDay}"></span> new confirmed cases per day and averaged <span class="badge badge-pill badge-info" th:text="${aveDailyDeath}"></span> daily deaths.
            </h5>
            <h5> <span class="badge badge-pill badge-info" th:text="${oneDoseVaccinatedRatio}"></span> people have received at least one dose and  <span class="badge badge-pill badge-info" th:text="${fullVaccinatedRatio}"></span> people are fully vaccinated.
            </h5>
        </div>
        <div class="container-lg" >
            <h3>
                Recently 30 days
            </h3>
            <div class="row clearfix">
                <div class="col-md-3 column" id="newCaseLineChartContainer"
                     style="width: 290px; height: 200px; margin: 0 auto">
                </div>
                <div class="col-md-3 column" id="newDeathLineChartContainer"
                     style="width: 290px; height: 200px; margin: 0 auto">
                </div>
                <div class="col-md-3 column" id="totalCaseLineChartContainer"
                     style="width: 290px; height: 200px; margin: 0 auto">
                </div>
                <div class="col-md-3 column" id="totalDeathLineChartContainer"
                     style="width: 290px; height: 200px; margin: 0 auto">
                </div>
            </div>
        </div>
    </div>
    <div class="container-lg  table-responsive  clearfix">
        <h3>Counties</h3>
        <table class="table table-bordered table-hover">
            <thead class="thead-dark">
            <tr>
                <th style="color:#4572A7;">County(Population)</th>
                <th style="color:#4572A7;">Risk Level</th>
                <th style="color:#4572A7;">1+ Dose</th>
                <th style="color:#4572A7;">Fully Vaccinated</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="countyStats : ${selectedCountyStats}">
                <td th:text="${countyStats.county} +', ' +  ${countyStats.state} + '  ('+ ${countyStats.population}+  ')'"></td>
                <td th:text="${countyStats.metrics.testPositivityRatio}"></td>
                <td th:text="${countyStats.metrics.vaccinationsInitiatedRatio*10000/100} + '%'"></td>
                <td th:text="${countyStats.metrics.vaccinationsCompletedRatio*10000/100} + '%'"></td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="row clearfix">
        <h2 align="left">In the US</h2>
        <div class="col-md-6 column">
            <div class="container-md">
                <div id="mapContainer"></div>
            </div>
        </div>
        <div class="col-md-6 column">
            <div class="container-md">
                <div id="vaccineBarChartContainer"></div>
            </div>
        </div>

    </div>
</div>

</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script src="http://code.highcharts.com/maps/modules/map.js"></script>
<script src="https://code.highcharts.com/maps/modules/data.js"></script>
<script src="https://code.highcharts.com/maps/modules/exporting.js"></script>
<script src="https://code.highcharts.com/maps/modules/offline-exporting.js"></script>
<script src="https://code.highcharts.com/mapdata/countries/us/us-all.js"></script>


<script th:inline="javascript">

     Highcharts.setOptions({
            colors: ['#4572A7', '#99bde8', '#50B432', '#ED561B', '#DDDF00',  '#64E572', '#FF9655', '#FFF263', '#6AF9C4']
        });

    $('#newCaseLineChartContainer').highcharts({
        title: {
            text: ''
        },
        yAxis: {
            title: {
                text: ' '
            }
        },
        xAxis: {
            categories: [[${Dates}]],
            crosshair: true,
            labels: {
                 style: {
                          fontSize: '5px'
                         }
            }
        },
        legend: {
            layout: 'vertical',
            align: 'right',
            verticalAlign: 'middle'
        },
        plotOptions: {
                series: {
                    label: {
                        connectorAllowed: false
                    },
                    pointStart: 0,
                    dataSorting: {
                                enabled: true,
                                sortKey: 'z'
                     }
                },
                bar: {
                    dataLabels: {
                        enabled: true
                    }
                },
                column: {
                    pointPadding: 0.2,
                    borderWidth: 0
            }
        },
        credits: {
            enabled: false
        },
        series: [{name: 'New Cases',
                data: [[${NewCases}]]
                }],
        responsive: {
            rules: [{
                condition: {
                    maxWidth: 500
                },
                chartOptions: {
                    legend: {
                        layout: 'horizontal',
                        align: 'center',
                        verticalAlign: 'bottom'
                    }
                }
            }]
        }
    });

    $('#newDeathLineChartContainer').highcharts({
        title: {
            text: ''
        },

        yAxis: {
            title: {
                text: ' '
            }
        },
        xAxis: {
            categories: [[${Dates}]],
            crosshair: true,
            labels: {
                 style: {
                          fontSize: '5px'
                         }
            }
        },
        legend: {
            layout: 'vertical',
            align: 'right',
            verticalAlign: 'middle'
        },
        plotOptions: {
                series: {
                    label: {
                        connectorAllowed: false
                    },
                    pointStart: 0
                }
        },
        plotOptions: {
            bar: {
                dataLabels: {
                    enabled: true
                }
            },
            column: {
                pointPadding: 0.2,
                borderWidth: 0
            }
        },
        credits: {
            enabled: false
        },
        series: [{
                 name: 'New Death',
                 data: [[${NewDeaths}]]
            }],
        responsive: {
            rules: [{
                condition: {
                    maxWidth: 500
                },
                chartOptions: {
                    legend: {
                        layout: 'horizontal',
                        align: 'center',
                        verticalAlign: 'bottom'
                    }
                }
            }]
        }
    });

    $('#totalCaseLineChartContainer').highcharts({
        title: {
            text: ''
        },
        yAxis: {
            title: {
                text: ' '
            }
        },
        xAxis: {
            categories: [[${Dates}]],
            crosshair: true,
            labels: {
                 style: {
                          fontSize: '5px'
                         }
            }
        },
        legend: {
            layout: 'vertical',
            align: 'right',
            verticalAlign: 'middle'
        },
        plotOptions: {
                series: {
                    label: {
                        connectorAllowed: false
                    },
                    pointStart: 0
                }
        },
        plotOptions: {
            bar: {
                dataLabels: {
                    enabled: true
                }
            },
            column: {
                pointPadding: 0.2,
                borderWidth: 0
            }
        },
        credits: {
            enabled: false
        },
        series: [{name: 'Total Cases',
                data: [[${TotalCases}]]
                }],
        responsive: {
            rules: [{
                condition: {
                    maxWidth: 500
                },
                chartOptions: {
                    legend: {
                        layout: 'horizontal',
                        align: 'center',
                        verticalAlign: 'bottom'
                    }
                }
            }]
        }
    });

    $('#totalDeathLineChartContainer').highcharts({
        title: {
            text: ''
        },
        yAxis: {
            title: {
                text: ' '
            }
        },
        xAxis: {
            categories: [[${Dates}]],
            crosshair: true,
            labels: {
                 style: {
                          fontSize: '5px'
                         }
            }
        },
        legend: {
            layout: 'vertical',
            align: 'right',
            verticalAlign: 'middle'
        },
        plotOptions: {
                series: {
                    label: {
                        connectorAllowed: false
                    },
                    pointStart: 0
                }
        },
        plotOptions: {
            bar: {
                dataLabels: {
                    enabled: true
                }
            },
            column: {
                pointPadding: 0.2,
                borderWidth: 0
            }
        },
        credits: {
            enabled: false
        },
        series: [{
                name: 'Total Deaths',
                data: [[${TotalDeaths}]]}],
        responsive: {
               rules: [{
                        condition: {
                            maxWidth: 500
                        },
                        chartOptions: {
                            legend: {
                                layout: 'horizontal',
                                align: 'center',
                                verticalAlign: 'bottom'
                            }
                        }
                }]
         }
    });



     $('#vaccineBarChartContainer').highcharts({
            chart: {
                type: 'bar',
                height:1000
            },
            title: {
                text: 'Vaccinations'
            },
            subtitle: {
                text: ''
            },
            xAxis: {
                categories: [[${keySet}]],
                crosshair: true,
                labels: {
                     style: {
                              fontSize: '10px'
                             }
                }
            },
            yAxis: {
                min: 0,
                max: 100,
                title: {
                    text: ''
                }
            },
            credits: {
                enabled: false
            },
            tooltip: {
                headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
                pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
                '<td style="padding:0"><b>{point.y:.1f}%</b></td></tr>',
                footerFormat: '</table>',
                shared: true,
                useHTML: true
            },
            plotOptions: {
                bar: {
                    dataLabels: {
                        enabled: false
                    }
                },
                column: {
                    pointPadding: 0.2,
                    borderWidth: 0
                }
            },
            legend: {
                layout: 'vertical',
                align: 'right',
                verticalAlign: 'top',
                x: -40,
                y: 80,
                floating: true,
                borderWidth: 1,
                backgroundColor:
                    Highcharts.defaultOptions.legend.backgroundColor || '#FFFFFF',
                shadow: true
            },
            series: [{
                name: 'Fully vaccinated',
                data: [[${vaccinationsCompletedRatioValues}]]
            },
            {
                name: '1+ dose',
                data: [[${vaccinationsInitiatedRatioValues}]]
            }]
    });

    Highcharts.getJSON('https://api.covidactnow.org/v2/states.json?apiKey=e2592af2a51a42f6acedbe547a95e0da', function (data) {

    // Make codes uppercase to match the map data
    data.forEach(function (p) {
            p.code = p.state;
            p.value = p.riskLevels.overall;
        });


    // Instantiate the map
    Highcharts.mapChart('mapContainer', {

        chart: {
            map: 'countries/us/us-all',
            borderWidth: 0
        },
        credits: {
                enabled: false
        },

        title: {
            text: 'Risk Levels'
        },
        subtitle: {
        text: ''
         },

        exporting: {
            sourceWidth: 600,
            sourceHeight: 500
        },

        legend: {
            title: {
                    text: 'Low risk     --------->        Severe risk'
            },
            layout: 'horizontal',
            borderWidth: 0,
            backgroundColor: 'rgba(255,255,255,0.85)',
            floating: true,
            verticalAlign: 'top',
            y: 25
        },

        mapNavigation: {
            enabled: true
        },

         colorAxis: {
                    min: 0,
                    max: 5,
                    tickInterval: 1,
                    stops: [
                            [0, '#F1EEF6'],
                            [0.67, '#900037'],
                            [1, '#500007']
                         ],
                    labels: {
                        format: '{value}'
                    }
                },

        series: [{
            animation: {
                duration: 1000
            },
            data: data,
            joinBy: ['postal-code', 'code'],
            dataLabels: {
                enabled: true,
                color: '#FFFFFF',
                format: '{point.code}'
            },
            name: '% Full Vaccinated',
            tooltip: {
                pointFormat: '{point.code}: {point.value}'
            }
        }]
    });
});




</script>

</html>