<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"/>
</head>
<body>

<div class="container">
    <div class="container row clearfix">
        <div class="clearfix">
            <h1 class="display-1">
                <span th:text="${countyName}"></span>
            </h1>
            <h6>Updated on <span th:text="${lastUpdatedDate}"></span></h6>
        </div>
        <div class="container-lg clearfix">
            <h3>Summary:</h3>
            <h5>Over the last week, King County, Washington has averaged 57 new confirmed cases per day (2.5 for
                every 100,000 residents).</h5>
            <h5>Risk Level: High</h5>
            <h5>Vunabale: High</h5>
        </div>
        <div class="container-lg  table-responsive  clearfix">
            <h3>Comparion among counties:</h3>
            <table class="table table-bordered table-hover">
                <thead>
                <tr>
                    <th>County</th>
                    <th>State</th>
                    <th>Population</th>
                    <th>testPositivityRatio</th>
                    <th>vaccinationsInitiatedRatio</th>
                    <th>vaccinationsCompletedRatio</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="countyStats : ${selectedCountyStats}">
                    <td th:text="${countyStats.county}"></td>
                    <td th:text="${countyStats.state}"></td>
                    <td th:text="${countyStats.population}"></td>
                    <td th:text="${countyStats.metrics.testPositivityRatio}"></td>
                    <td th:text="${countyStats.metrics.vaccinationsInitiatedRatio}">0</td>
                    <td th:text="${countyStats.metrics.vaccinationsCompletedRatio}">0</td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="container-lg ">
            <h3>
                Recently 30 days:
            </h3>
            <div class="row clearfix">
                <div class="col-md-6 column" id="newCaseLineChartContainer"
                     style="width: 550px; height: 400px; margin: 0 auto">
                </div>
                <div class="col-md-6 column" id="newDeathLineChartContainer"
                     style="width: 550px; height: 400px; margin: 0 auto">
                </div>
                <div class="col-md-6 column" id="totalCaseLineChartContainer"
                     style="width: 550px; height: 400px; margin: 0 auto">
                </div>
                <div class="col-md-6 column" id="totalDeathLineChartContainer"
                     style="width: 550px; height: 400px; margin: 0 auto">
                </div>
            </div>
        </div>
        <div class="row clearfix">
            <div class="col-md-6 column">
                <div class="container-md">
                    <h2 align="center">Data Graph</h2>
                    <div id="vaccineBarChartContainer"></div>
                </div>
            </div>
            <div class="col-md-6 column">
                <div class="container-md">
                    <h2 align="center">Map Graph</h2>
                    <div id="mapContainer"></div>
                </div>
            </div>
        </div>
    </div>

</div>


</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script src="http://code.highcharts.com/maps/modules/map.js"></script>
<script src="https://code.highcharts.com/maps/modules/data.js"></script>
<script src="https://code.highcharts.com/maps/modules/exporting.js"></script>
<script src="https://code.highcharts.com/maps/modules/offline-exporting.js"></script>
<script src="https://code.highcharts.com/mapdata/countries/us/us-all.js"></script>


<script th:inline="javascript">

    $('#newCaseLineChartContainer').highcharts({
        title: {
            text: 'New cases'
        },
        subtitle: {
            text: 'Source: covidactnow.org'
        },
        yAxis: {
            title: {
                text: 'Number of Cases'
            }
        },
        xAxis: {
            categories: [[${Dates}]],
            crosshair: true,
            labels: {
                 style: {
                          fontSize: '10px'
                         }
            }
        },
        legend: {
            layout: 'vertical',
            align: 'right',
            verticalAlign: 'middle'
        },
        plotOptions: {
                series: {
                    label: {
                        connectorAllowed: false
                    },
                    pointStart: 0,
                    dataSorting: {
                                enabled: true,
                                sortKey: 'z'
                     }
                },
                bar: {
                    dataLabels: {
                        enabled: true
                    }
                },
                column: {
                    pointPadding: 0.2,
                    borderWidth: 0
            }
        },
        credits: {
            enabled: false
        },
        series: [{name: 'New Cases',
                data: [[${NewCases}]]
                }],
        responsive: {
            rules: [{
                condition: {
                    maxWidth: 500
                },
                chartOptions: {
                    legend: {
                        layout: 'horizontal',
                        align: 'center',
                        verticalAlign: 'bottom'
                    }
                }
            }]
        }
    });

    $('#newDeathLineChartContainer').highcharts({
        title: {
            text: 'New Death '
        },
        subtitle: {
            text: 'Source: covidactnow.org'
        },
        yAxis: {
            title: {
                text: 'Number of Deaths'
            }
        },
        xAxis: {
            categories: [[${Dates}]],
            crosshair: true,
            labels: {
                 style: {
                          fontSize: '5px'
                         }
            }
        },
        legend: {
            layout: 'vertical',
            align: 'right',
            verticalAlign: 'middle'
        },
        plotOptions: {
                series: {
                    label: {
                        connectorAllowed: false
                    },
                    pointStart: 0
                }
        },
        plotOptions: {
            bar: {
                dataLabels: {
                    enabled: true
                }
            },
            column: {
                pointPadding: 0.2,
                borderWidth: 0
            }
        },
        credits: {
            enabled: false
        },
        series: [{
                 name: 'New Deaths',
                 data: [[${NewDeaths}]]
            }],

        responsive: {
            rules: [{
                condition: {
                    maxWidth: 500
                },
                chartOptions: {
                    legend: {
                        layout: 'horizontal',
                        align: 'center',
                        verticalAlign: 'bottom'
                    }
                }
            }]
        }
    });

    $('#totalCaseLineChartContainer').highcharts({
        title: {
            text: 'Total cases '
        },
        subtitle: {
            text: 'Source: covidactnow.org'
        },
        yAxis: {
            title: {
                text: 'Number of Cases'
            }
        },
        xAxis: {
            categories: [[${Dates}]],
            crosshair: true,
            labels: {
                 style: {
                          fontSize: '5px'
                         }
            }
        },
        legend: {
            layout: 'vertical',
            align: 'right',
            verticalAlign: 'middle'
        },
        plotOptions: {
                series: {
                    label: {
                        connectorAllowed: false
                    },
                    pointStart: 0
                }
        },
        plotOptions: {
            bar: {
                dataLabels: {
                    enabled: true
                }
            },
            column: {
                pointPadding: 0.2,
                borderWidth: 0
            }
        },
        credits: {
            enabled: false
        },
        series: [{name: 'Total Cases',
                data: [[${TotalCases}]]
                }],
        responsive: {
            rules: [{
                condition: {
                    maxWidth: 500
                },
                chartOptions: {
                    legend: {
                        layout: 'horizontal',
                        align: 'center',
                        verticalAlign: 'bottom'
                    }
                }
            }]
        }
    });

    $('#totalDeathLineChartContainer').highcharts({
        title: {
            text: 'Total Deaths '
        },
        subtitle: {
            text: 'Source: covidactnow.org'
        },
        yAxis: {
            title: {
                text: 'Number of Deaths'
            }
        },
        xAxis: {
            categories: [[${Dates}]],
            crosshair: true,
            labels: {
                 style: {
                          fontSize: '5px'
                         }
            }
        },
        legend: {
            layout: 'vertical',
            align: 'right',
            verticalAlign: 'middle'
        },
        plotOptions: {
                series: {
                    label: {
                        connectorAllowed: false
                    },
                    pointStart: 0
                }
        },
        plotOptions: {
            bar: {
                dataLabels: {
                    enabled: true
                }
            },
            column: {
                pointPadding: 0.2,
                borderWidth: 0
            }
        },
        credits: {
            enabled: false
        },
        series: [{
                name: 'Total Deaths',
                data: [[${TotalDeaths}]]}],
        responsive: {
               rules: [{
                        condition: {
                            maxWidth: 500
                        },
                        chartOptions: {
                            legend: {
                                layout: 'horizontal',
                                align: 'center',
                                verticalAlign: 'bottom'
                            }
                        }
                }]
         }
    });

     $('#vaccineBarChartContainer').highcharts({
            chart: {
                type: 'bar',
                height:1000
            },
            title: {
                text: 'Vaccination'
            },
            subtitle: {
                text: 'State'
            },
            xAxis: {
                categories: [[${keySet}]],
                crosshair: true,
                labels: {
                     style: {
                              fontSize: '10px'
                             }
                }
            },
            yAxis: {
                min: 0,
                max: 100,
                title: {
                    text: 'Percentage'
                }
            },
            credits: {
                enabled: false
            },
            tooltip: {
                headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
                pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
                '<td style="padding:0"><b>{point.y:.1f}%</b></td></tr>',
                footerFormat: '</table>',
                shared: true,
                useHTML: true
            },

            plotOptions: {
                bar: {
                    dataLabels: {
                        enabled: true
                    }
                },
                column: {
                    pointPadding: 0.2,
                    borderWidth: 0
                }
            },
            legend: {
                layout: 'vertical',
                align: 'right',
                verticalAlign: 'top',
                x: -40,
                y: 80,
                floating: true,
                borderWidth: 1,
                backgroundColor:
                    Highcharts.defaultOptions.legend.backgroundColor || '#FFFFFF',
                shadow: true
            },
            series: [{
                name: '1+ dose',
                data: [[${vaccinationsInitiatedRatioValues}]]
            },{
                name: 'Full vaccinated',
                data: [[${vaccinationsCompletedRatioValues}]]
            }]
    });


    Highcharts.getJSON('https://api.covidactnow.org/v2/states.json?apiKey=e2592af2a51a42f6acedbe547a95e0da', function (mapData) {
        // Make codes uppercase to match the map data
        mapData.forEach(function (p) {
            p.code = p.state;
            p.value = p.riskLevels.overall;
        });


        // Instantiate the map
        Highcharts.mapChart('mapContainer', {

            chart: {
                map: 'countries/us/us-all',
                borderWidth: 0
            },

            title: {
                text: 'US population density (/km²)'
            },

            exporting: {
                sourceWidth: 600,
                sourceHeight: 500
            },

            legend: {
                layout: 'horizontal',
                borderWidth: 0,
                backgroundColor: 'rgba(255,255,255,0.85)',
                floating: true,
                verticalAlign: 'top',
                y: 25
            },

            mapNavigation: {
                enabled: true
            },

            colorAxis: {
                min: 1,
                type: 'logarithmic',
                minColor: '#EEEEFF',
                maxColor: '#000022',
                stops: [
                    [0, '#EFEFFF'],
                    [0.67, '#4444FF'],
                    [1, '#000022']
                ]
            },

            series: [{
                animation: {
                    duration: 1000
                },
                data: mapData,
                joinBy: ['postal-code', 'code'],
                dataLabels: {
                    enabled: true,
                    color: '#FFFFFF',
                    format: '{point.code}'
                },
                name: 'Population density',
                tooltip: {
                    pointFormat: '{point.code}: {point.value}/km²'
                }
            }]
        });
    });


</script>

</html>