<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"/>
</head>
<body>

<div class="container-md">
    <div class="container row clearfix">
        <div class="col-md-12 column">
            <h1 class="display-1">
                <span th:text="${countyName}"></span>
            </h1>
            Updated on <span th:text="${lastUpdatedDate}"></span>
            <h1 class="display-1"></h1>
        </div>

        <div class="container-md">
            <div class="row">
                <div class="col-6 col-sm-6">Test Positivity Ratio: <span
                        th:text="${testPositivityRatio}"></span>%
                </div>
                <div class="col-6 col-sm-6">Infection Rate: <span th:text="${infectionRate}"></span>%</div>
                <!-- Force next columns to break to new line -->
                <div class="w-100"></div>
            </div>
        </div>
        <div>
            <div class="row">
                <div class="col-6 col-sm-6">Vaccinations Initiated Ratio: <span
                        th:text="${vaccinationsInitiatedRatio}"></span>%
                </div>
                <div class="col-6 col-sm-6">Vaccinations Completed Ratio: <span
                        th:text="${vaccinationsCompletedRatio}"></span>%
                </div>
                <div class="w-100"></div>
            </div>
            <h1 class="display-1"></h1>
        </div>
        <div class="table-responsive">
            <table class="table table-bordered table-hover">
                <thead>
                <tr>
                    <th>County</th>
                    <th>State</th>
                    <th>Population</th>
                    <th>testPositivityRatio</th>
                    <th>vaccinationsInitiatedRatio</th>
                    <th>vaccinationsCompletedRatio</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="countyStats : ${selectedCountyStats}">
                    <td th:text="${countyStats.county}"></td>
                    <td th:text="${countyStats.state}"></td>
                    <td th:text="${countyStats.population}"></td>
                    <td th:text="${countyStats.metrics.testPositivityRatio}"></td>
                    <td th:text="${countyStats.metrics.vaccinationsInitiatedRatio}">0</td>
                    <td th:text="${countyStats.metrics.vaccinationsCompletedRatio}">0</td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="container-lg">
            <h3>
                Recently 30 days:
            </h3>
            <div class="row clearfix">
                <div class="col-md-3 column" id="newCaseLineChartContainer"
                     style="width: 500px; height: 400px; margin: 0 auto">
                </div>
                <div class="col-md-3 column" id="newDeathLineChartContainer"
                     style="width: 500px; height: 400px; margin: 0 auto">
                </div>
                <div class="col-md-3 column" id="totalCaseLineChartContainer"
                     style="width: 500px; height: 400px; margin: 0 auto">
                </div>
                <div class="col-md-3 column" id="totalDeathLineChartContainer"
                     style="width: 500px; height: 400px; margin: 0 auto">
                </div>
            </div>
        </div>
        <div class="container-md">
            <h2 align="center">Data Graph</h2>
            <div id="vaccineBarChartContainer"></div>
        </div>
    </div>
</div>

</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script th:inline="javascript">
$(function(){
      Highcharts.chart('newCaseLineChartContainer', {
        title: {
            text: 'New cases'
        },
        subtitle: {
            text: 'Source: covidactnow.org'
        },
        yAxis: {
            title: {
                text: 'Number of Cases'
            }
        },
        xAxis: {
            categories: [[${Dates}]],
            crosshair: true,
            labels: {
                 style: {
                          fontSize: '10px'
                         }
            }
        },
        legend: {
            layout: 'vertical',
            align: 'right',
            verticalAlign: 'middle'
        },
        plotOptions: {
                series: {
                    label: {
                        connectorAllowed: false
                    },
                    pointStart: 0,
                    dataSorting: {
                                enabled: true,
                                sortKey: 'z'
                     }
                },
                bar: {
                    dataLabels: {
                        enabled: true
                    }
                },
                column: {
                    pointPadding: 0.2,
                    borderWidth: 0
            }
        },
        credits: {
            enabled: false
        },
        series: [{name: 'New Cases',
                data: [[${NewCases}]]
                }],
        responsive: {
            rules: [{
                condition: {
                    maxWidth: 500
                },
                chartOptions: {
                    legend: {
                        layout: 'horizontal',
                        align: 'center',
                        verticalAlign: 'bottom'
                    }
                }
            }]
        }
});

Highcharts.chart('newDeathLineChartContainer', {
        title: {
            text: 'New Death '
        },
        subtitle: {
            text: 'Source: covidactnow.org'
        },
        yAxis: {
            title: {
                text: 'Number of Deaths'
            }
        },
        xAxis: {
            categories: [[${Dates}]],
            crosshair: true,
            labels: {
                 style: {
                          fontSize: '5px'
                         }
            }
        },
        legend: {
            layout: 'vertical',
            align: 'right',
            verticalAlign: 'middle'
        },
        plotOptions: {
                series: {
                    label: {
                        connectorAllowed: false
                    },
                    pointStart: 0
                }
        },
        plotOptions: {
            bar: {
                dataLabels: {
                    enabled: true
                }
            },
            column: {
                pointPadding: 0.2,
                borderWidth: 0
            }
        },
        credits: {
            enabled: false
        },
        series: [{
                 name: 'New Deaths',
                 data: [[${NewDeaths}]]
            }],

        responsive: {
            rules: [{
                condition: {
                    maxWidth: 500
                },
                chartOptions: {
                    legend: {
                        layout: 'horizontal',
                        align: 'center',
                        verticalAlign: 'bottom'
                    }
                }
            }]
        }
});

Highcharts.chart('totalCaseLineChartContainer', {
        title: {
            text: 'Total cases '
        },
        subtitle: {
            text: 'Source: covidactnow.org'
        },
        yAxis: {
            title: {
                text: 'Number of Cases'
            }
        },
        xAxis: {
            categories: [[${Dates}]],
            crosshair: true,
            labels: {
                 style: {
                          fontSize: '5px'
                         }
            }
        },
        legend: {
            layout: 'vertical',
            align: 'right',
            verticalAlign: 'middle'
        },
        plotOptions: {
                series: {
                    label: {
                        connectorAllowed: false
                    },
                    pointStart: 0
                }
        },
        plotOptions: {
            bar: {
                dataLabels: {
                    enabled: true
                }
            },
            column: {
                pointPadding: 0.2,
                borderWidth: 0
            }
        },
        credits: {
            enabled: false
        },
        series: [{name: 'Total Cases',
                data: [[${TotalCases}]]
                }],
        responsive: {
            rules: [{
                condition: {
                    maxWidth: 500
                },
                chartOptions: {
                    legend: {
                        layout: 'horizontal',
                        align: 'center',
                        verticalAlign: 'bottom'
                    }
                }
            }]
        }
});

Highcharts.chart('totalDeathLineChartContainer', {
        title: {
            text: 'Total Deaths '
        },
        subtitle: {
            text: 'Source: covidactnow.org'
        },
        yAxis: {
            title: {
                text: 'Number of Deaths'
            }
        },
        xAxis: {
            categories: [[${Dates}]],
            crosshair: true,
            labels: {
                 style: {
                          fontSize: '5px'
                         }
            }
        },
        legend: {
            layout: 'vertical',
            align: 'right',
            verticalAlign: 'middle'
        },
        plotOptions: {
                series: {
                    label: {
                        connectorAllowed: false
                    },
                    pointStart: 0
                }
        },
        plotOptions: {
            bar: {
                dataLabels: {
                    enabled: true
                }
            },
            column: {
                pointPadding: 0.2,
                borderWidth: 0
            }
        },
        credits: {
            enabled: false
        },
        series: [{name: 'Total Deaths',
                data: [[${TotalDeaths}]]
                }],
        responsive: {
            rules: [{
                condition: {
                    maxWidth: 500
                },
                chartOptions: {
                    legend: {
                        layout: 'horizontal',
                        align: 'center',
                        verticalAlign: 'bottom'
                    }
                }
            }]
        }
    });
});

$(function(){
    Highcharts.chart('vaccineBarChartContainer', {
        chart: {
            type: 'bar',
            height:1000
        },
        title: {
            text: 'Vaccination'
        },
        subtitle: {
            text: 'State'
        },
        xAxis: {
            categories: [[${keySet}]],
            crosshair: true,
            labels: {
                 style: {
                          fontSize: '10px'
                         }
            }
        },
        yAxis: {
            min: 0,
            max: 100,
            title: {
                text: 'Percentage'
            }
        },
        credits: {
            enabled: false
        },
        tooltip: {
            headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
            pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
            '<td style="padding:0"><b>{point.y:.1f}%</b></td></tr>',
            footerFormat: '</table>',
            shared: true,
            useHTML: true
        },
        plotOptions: {
            bar: {
                dataLabels: {
                    enabled: true
                }
            },
            column: {
                pointPadding: 0.2,
                borderWidth: 0
            }
        },
        legend: {
            layout: 'vertical',
            align: 'right',
            verticalAlign: 'top',
            x: -40,
            y: 80,
            floating: true,
            borderWidth: 1,
            backgroundColor:
                Highcharts.defaultOptions.legend.backgroundColor || '#FFFFFF',
            shadow: true
        },
        series: [{
            name: '1+ dose',
            data: [[${vaccinationsInitiatedRatioValues}]]
                   },{
                        name: 'Full vaccinated',
                        data: [[${vaccinationsCompletedRatioValues}]]
                    }]
      });
});
</script>

</html>